# Prerequisites
*.d

*~

boostified

# Compiled Object files
*.slo
*.lo
*.o
*.obj

dist/*
bin/

docs/html
docs/latex

build*/
build/

*.aux
*.fdb_latex*
*.fls
*.log
*.gz

.idea

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build output
*/build/

*.pdf
